<div class="content">
   
    <h2>{{ tituloComp }}</h2>
    <br /><br />

    <table class="bordaTabela">
        <thead> 
           
            <tr>
                <th>Raiz Um</th>
                <th>Raiz Dois</th>
                <th>Raiz Tres</th>
            </tr>
        </thead>
        
        <tbody> 
           
            <tr>    
                <td>{{ raizUm | pipeRaizQuadrada }}</td>                
                <td>{{ raizDois | pipeRaizQuadrada }}</td>
                <td>{{ raizTres | pipeRaizQuadrada }}</td>
            </tr>
        </tbody>
    </table>
</div>






<!-- <div class="content">
   
    <h2>{{ tituloComp }}</h2>
    <br /><br />

    <table class="bordaTabela">
        <thead> 
           
            <tr>
               
                <th>Lowercase</th>
                <th>Upercase</th>
                <th>Currency</th>
                <th>Date</th>
                <th>Decimal</th>
                <th>Json</th>
                <th>Slice</th>
                <th>Percent</th>
            </tr>
        </thead>
        
        <tbody> 
           
            <tr>
                
                
                <td>{{ umTexto | lowercase }}</td>
                
                <td>{{ tituloComp | uppercase }}</td>
                <td>
                    
                    {{numFloat | currency: "USD"}}
                    <br />
                    
                    {{numFloat | currency: "BRL"}}
                </td>
                <td>
                    
                    {{ umaData | date: "d/M/y" }}
                    <br />
                    
                    {{ umaData | date: "shortTime" }}
                </td>
                
                <td>{{ conjuntoNumerico | number: "3.1-6" }}</td>
               
                <td>{{ conjuntoDados | json }}</td>
               
                <td>{{ mesesAno | slice: 2:6 }}</td>
                
                <td>{{ numPercent | percent }}</td>
            </tr>
        </tbody>
    </table>
</div> -->
