<div class ="content">
    <h2>{{ tituloComp }}</h2>

    <div>
        Propriedade exiba: <input type='checkbox' [(ngModel)] = "exiba"/>
    </div>

    <!-- Uso direto da diretiva *ngIf -->
    <h3>Uso direto da diretiva *ngIf</h3>
    <p *ngIf = "exiba"> <!-- Qual é o Seu valor ?  R: TRUE -->
        Texto exibido quando o checkbox estiver "ATIVADO" - quando a condição for TRUE.

    </p>
    <p *ngIf = "!exiba">    <!-- Qual é o seu valor ? FALSE-->
         Texto exibido quando o checkbox estiver "DESATIVADO" - quando a condição for FALSE.
    </p>
</div>
