<!-- iniciar a implementação do template driven form -->
<div class = "content">
    <h2>{{ tituloComp }}</h2>
    <br />

    <form [formGroup] = "dadosForm" (ngSubmit) = "exibidoraDados(dadosForm.value)">
        <input type = "text" name = "nome" placeholder = "Informe seu nome" formControlName = "nome" />
        <br /><br />

        <input type = "email"  name = "email" placeholder = "Informe seu email" formControlName = "email" />
        <br /><br />

        <input type = "password" name = "senha" placeholder = "Informe sua senha" formControlName = "senha" />
        <br /><br />

        <input type = "submit" [disabled] = "!dadosForm.valid" value = "Enviar Dados" />
    </form>
    <br />
    <!-- exibir o valor das propriedades nome e email-->
    <p>O nome informado é: {{ propNome }}. E o email é: {{ propEmail }}</p>
</div>





<!--
    <form #capturaDados = "ngForm" (ngSubmit) = "recebedorDados(capturaDados.value)">
        <input type = "text" name = "nome" placeholder = "Informe seu nome completo" ngModel />
        <br /><br />
        <input type = "email" name = "email" placeholder = "Informe seu email" ngModel />
        <br /><br />
        <input type = "password" name = "senha" placeholder = "Informe sua senha" ngModel />
        <br /><br />
        <input type = "submit" value = "Enviar Dados" />
    </form>
-->