<!-- Fazer uso para a diretiva *ngFor 
para tal, será criada uma tabela para tabular os dados 
-->

<div class="content">
    <h2>{{ tituloComp }}</h2>
    <!-- definir uma tabela -->
    <!-- A etiqueta <tr> significa linha Table row .A etiqueta <td> que significa table data é usada para definir uma célula. As tabelas podem ter cabeçalhos. Para isso usa-se a etiqueta <th> que significa table header. Os cabeçalhos podem ser usados nas linhas e/ou nas colunas. -->
    
        <table class="bordaTabela">

        <thead > <!-- Cabeçalho -->
            <tr>
                <th>Titulo do Filme</th>
                <th>Direção</th>
                <th>Elenco Principal</th>
                <th>Ano de Lançamento</th>
            </tr>
        </thead>

        <tbody> <!-- Corpo -->
            <tr *ngFor = "let f of filmes">
                <td>{{ f.titulo }}</td>
                <td>{{ f.direcao }}</td>
                <td>{{ f.elenco }}</td>
                <td>{{ f.anoLancamento }}</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- 
<ul>
    <li *ngFor = "let f of filmes">
        {{ f.titulo }} - {{ f.direcao }}
    </li>
</ul> -->